.cinta{
    background-color: blueviolet;
    opacity: 0.8;
  }
.text-blueviolet{
  color: blueviolet;
}
.color-blueviolet{
  background-color: blueviolet;
}
.backbtn{
  background-color: blueviolet;
}
  .form-container{
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
  }
  .bgfuture{
    opacity: 0.85;
  }

  .fondo{
    background: url("../../images/astronaut.jpg");
    width: 100%;
    background-size: 50%;
    background-repeat: repeat;
  }

  .textfone {
    color: #0f0c29;  /* fallback for old browsers */
  }