.fotoCabeza {
    background: url("../../images/foto_principal.jpeg");
    height: 92.5vh;
    background-size: 100% 90%;

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
@media only screen and (max-device-width: 1366px) {
  .fotoCabeza {
    background-attachment: scroll;
  }
}*/

@media screen and (min-width: 768px) {
    
  .rellenouno{
    padding-top: 270px;
    padding-right: 11.5em;
    padding-left: 11.5em;
  }
  .alineadoretos{
    padding-right: 11.5em;
    padding-left: 11.5em;
  }
  .footdescuno{
    text-align: right;
    padding-right: 50px;
  }
  .footdescdos{
    text-align: left;
    padding-top: 10px;
    padding-left: 50px;
  }
  .paddingbanner{
    padding-left: 11.5rem;
  }
}

@media screen and (min-width: 1462px){
  .rellenotres{
    padding-top: 120px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1461px){
  .rellenotres{
    padding-top: 90px;
    text-align: center;
  }
}


  @media screen and (min-width: 100px) and (max-width: 767px) {
    
      .rellenouno{
        padding-top: 100px;
        text-align: center;
      }
      .rellenodos{
        padding-top: 100px;
      }
      .footdescuno{
        text-align: center;
      }
      .footdescdos{
        text-align: center;
        padding-top: 20px;
      }
      .texto-centrado {
        text-align: center;
      }
      .rellenotres{
        padding-top: 100px;
        text-align: center;
      }
      .paddingbanner{
        text-align: center;
      }
  }

  @media screen and (max-height: 590px) {
    
    .rellenouno{
      padding-top: 110px;
      padding-left: 100px;
    }
    .texto-centrado {
      text-align: center;
    }
  }

  @media screen and (max-height: 300px) {
      .rellenouno{
        padding-top: 50px;
        padding-left: 100px;
      }
      .rellenodos{
        display: none;
      }
  }

  .text-asme {
    color: #070b2a;
  }

  .retos{
    background: url("../../images/retos.jpg");
    height: 100%; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/*
  @media only screen and (max-device-width: 1366px) {
    .retos {
      background-attachment: scroll;
    }
  }*/

  .nexa {
    font-family: 'Nexa Rust Sans';
    font-weight: 900;
    font-style: normal;
}

.rockwell {
  font-family: 'Rockwell';
  font-weight: normal;
  font-style: normal;
}

.font-futura {
  font-family: 'Futura Lt BT';
  font-weight: 300;
  font-style: normal;
}

.fondobanner {
  background: url("../../images/banner.png");
  background-size: 100% 100%;
}


